html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: Arial, sans-serif;
}

#custom-alert {
    position: fixed;
    top: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
    min-width: 250px;
    padding: 15px;
    background-color: #f44336;
    color: white;
    border-radius: 5px;
    z-index: 1000;
    display: none;
}